{{define "base"}}
<!doctype html>
<html>
<head>
<title> forkloop </title>
<link href="/public/base.css" type="text/css" rel="stylesheet"></link>
</head>
<body>
{{template "body" .}}
</body>
</html>
{{end}}
