{{define "body"}}
<form action="/control" method="POST">
<input type="radio" name="mode" value="on" />On
<input type="radio" name="mode" value="off" />Off
<br>
<input type="submit" value="Go" />
</form>
{{end}}
