{{define "body"}}
<h1> Xin Liu </h1>
<article>
<section id="pacific-ocean" class="video-section">
<video src="/public/pacific-ocean.mp4" autoplay preload loop muted>
</video>
</section>
</article>
{{end}}
